li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}
